@font-face {
  font-family: sevenSegment;
  src: url(seven-segment.ttf);
}

h1{
  font-family: sevenSegment;
  font-size: 200px;
  width: 830px;
  text-align: center;
}

.container{
    margin-left: 432px;
    margin-top:100px;
    width: 830px;
    text-align:center;
}
